
.memo-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Espaço entre os itens da lista */
  }
  
  .itens {
    flex-grow: 1; /* Itens ocuparão o espaço disponível */
  }
  
  .buttons {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
  }
  

.memo-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaço entre os itens */
    gap: 30px;
    align-items: center;
    
  }
  
  .memo-title {
    font-weight: bold;
  }
  
  .memo-status {
    color: #888;
    font-style: italic;
  }